@mixin setSection{
    width: $width-devices;
    height: $height-devices;
    display: $display-flex;
    flex-direction: $flex-column;
}

@mixin underline{
    height: 3px;
    position: absolute;
    background-color: $color-underline;
}

@mixin row-all{
    .row1, .row2{
        width: $width-devices;
        height: max-content;
        display: $display-flex;
        flex-direction: $flex-row;
    }
}

@mixin card-row{
    width: 20rem;
    display: $display-flex;
    flex-direction: $flex-column;
    align-items: $tengah;
    background-color: $putih;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    height: 316px;
    border-radius: 13px;
}

@mixin image-card{
    img{
        width: 279px;
        position: relative;
        margin-top: 20px;
        border-radius: 12px;
    }
    .title{
        margin-top: 12px;
        .text-1{
            float: left;
        }
        .text-2{
            float: right;
        }
    }
}