$putih: white;
$putih2: whitesmoke;
$hitam: black;
$kuning: yellow;
$hijau: green;
$ungu: purple;
$biru: blue;
$merah: red;
$oren: orange;
$cyan: cyan;
$coffee-color: #f6ebda;
$color-underline: #fab876;