@import url('https://fonts.googleapis.com/css2?family=Poppins');

$width-devices: 100vw;
$height-devices: 100vh;
$half-height: 50vh;
$zero: 0;
$zero-px: 0px;
$display-flex: flex;
$flex-column: column;
$flex-row: row;
$set-main: 999999999;
$six-px: 6px;
$tengah: center;
$font: Poppins;
